.selected {
    background: #19875459;
}

.mt20{
    margin-top: 20px;
}


.titleNav{
    font-size: 50px;
    display: flex;
    justify-content: center;
    align-items: center;
    color: rgba(255,255,255,0.85);
    font-family: "Roboto", sans-serif;
    margin-top: -67px;
}

.subTitle{
    text-align: center;
    padding: 20px;
}

.imagChart{
    border: 2px solid black !important;
}

@media only screen and (max-width: 767px) {
        .titleNav{
            font-size: 38px;
        }
        .ButtonAux{
            font-size: 1rem;
            padding: .3rem 0.5rem;
        }
}